<footer>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="link-secondary" href="https://github.com/PolloGi">Ricardo Zúñiga 2022</a>
            </div>
        </div>
    </div>
</footer>