<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
    <img src="/assets/icon/icon.png" alt="icono">
      <a class="navbar-brand" href="/">Cálculos para itinerario de Media Montaña</a>
    </div>
</nav>