<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<body>
    
    <div class="container">
        <!-- <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <p class="text-md-start">Llena los espacios marcados en rojo</p>
            </div>
        </div> -->
        <div class="row mt-4">
            <div class="row">
                <div class="col-1">
                    <p class="text-center dato-requerido">Punto*</p>
                </div>
                <div class="col-3">
                    <p class="text-center dato-requerido">Nombre de referencia*</p>
                </div>
                <div class="col-2">
                    <p class="text-center dato-requerido">Altitud* (msnm)</p>
                </div>
                <div class="col-3">
                    <p class="text-center fs-6 dato-requerido">Coordenadas Decimales* (Grados decimales DD)</p>
                </div>
                <div class="col-3">
                    <p class="text-center fs-6">Coordenadas Decimales (Grados minutos y segunos DDM)</p>
                </div>
            </div>
            <div class="row" id="tablaUno">
                <div class="row mt-3">

                </div>
            </div>
            <div class="row justify-content-end mt-5">
                <div class="col-auto d-none" id="botonCalcularGrados">
                    <button type="button" onclick="CalculoDDM()" class="btn btn-outline-success">Calcular grados minutos y segundos</button>
                </div>
                <div class="col-auto d-none" id="botonPuntoDeRuta">
                    <button type="button" onclick="agregarTramoDeRuta()" class="btn btn-outline-dark">Agregar un tramo de ruta</button>
                </div>
                <div class="col-auto">
                    <button type="button" onclick="agregarPunto()" class="btn btn-secondary" id="botonAgregarDato">Agregar un punto</button>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="row">
                <div class="col-1">
                    <p class="text-center dato-requerido">Tramo</p>
                </div>
                <div class="col-1">
                    <p class="text-center dato-requerido">Azimut</p>
                </div>
                <div class="col">
                    <p class="text-center dato-requerido">Rumbo</p>
                </div>
                <div class="col">
                    <p class="text-center dato-requerido">Distancia Plana</p>
                </div>
                <div class="col">
                    <p class="text-center fs-">Desnivel (b)</p>
                </div>
                <div class="col">
                    <p class="text-center fs-6">Distancia (a)</p>
                </div>
                <div class="col">
                    <p class="text-center fs-6">Pendiente (m)</p>
                </div>
                <div class="col">
                    <p class="text-center fs-6">Velocidad</p>
                </div>
                <div class="col">
                    <p class="text-center fs-6">Tiempo Aprox</p>
                </div>
            </div>
            <div class="row" id="tablaDos">
                
            </div>
            <div class="row mt-5 justify-content-end">
                <div class="col-auto">
                    <button type="button" onclick="extraDiez()" class="btn btn-outline-success" id="botonAgregarDato">Agregar 10%</button>
                </div>
                <div class="col-auto">
                    <button type="button" onclick="calculoTiempo()" class="btn btn-outline-success" id="botonAgregarDato">Calcular tiempo/desnivel/distancia/pendiente/velocidad</button>
                </div>
                <div class="col-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Tiempo Total</span>
                        <input type="text" class="form-control" placeholder="Tiempo Total" aria-label="Username" aria-describedby="basic-addon1" id="tiempoTotal">
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/calculos.js"></script>
</body>
<%- include('partials/footer.ejs') %>
</html>